body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

header nav {
    background: #333;
    padding: 10px;
}

header nav a {
    color: white;
    margin-right: 10px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 20px;
}
